@model int


@{ 
    string commText = "";
}


@using (Html.BeginForm("AddComment", "Comment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Add Comment</h4>
        @Html.EditorFor(ct=>commText, new { htmlAttributes = new { @class = "create-edit-form-field-property-desc", autocomplete = "off" } })
       @Html.HiddenFor(pi=>Model)
        <input type="submit" value="Add" class="register-window-btn" />
    </div>
}
