/*Fonts*/

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Helvetica.otf);
}

@font-face {
    font-family: 'Helvetica Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Helvetica Bold.ttf');
}

@font-face {
    font-family: 'Helvetica-Oblique';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/Helvetica-Oblique.otf');
}


/*General*/

html {
    background-color: #f0f0f0;
    font-family: Helvetica;
    margin: 0;
}

body {
    margin: -16px 0 0 0;
}


/*Header*/

#header {
    background-image: url(../Images/back-im-h.png);
    border-bottom: 5px solid #b8b8b8;
    height: 90px;
}

.menu-background {
    background-image: url(../Images/back-head.png);
    height: 50px;
}

.menu-big-btn {
    background-color: #f26c4f;
    border: none;
    color: white;
    cursor: pointer;
    float: left;
    font-family: Helvetica;
    font-size: 16px;
    height: 50px;
    outline: none;
    padding-bottom: 16px;
    padding-left: 35px;
    width: 369px;
}

    .menu-big-btn sup {
        color: #f5937e;
        font-size: 25px;
    }


/*Menu*/

ul .nav {
    list-style: none;
}

.nav li {
    display: inline;
}

ul.nav a {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Bold';
    font-size: 12px;
    margin-top: 18px;
    text-align: center;
    text-decoration: none;
    width: 63px;
}

ul.nav span {
    color: #f26c4f;
}


/*Display for auth/not auth user*/

.auth-logout {
    position: absolute;
    right: 80px;
}

.auth-username {
    color: #f26c4f;
    right: 170px;
    position: absolute;
    top: 15px;
}

.not-auth-login {
    position: absolute;
    right: 80px;
}

.not-auth-reg {
    position: absolute;
    right: 150px;
}


/*Display for login and register window*/

.login-window-form {
    width: 280px !important;
}

.login-window-username {
    font-size: 8pt !important;
    margin-left: 10px !important;
    margin-top: 5px !important;
    height: 15px !important;
    cursor: auto !important;
    background-color: white !important;
    color: black !important;
    border: none !important;
    outline: none !important;
    width: 280px !important;
}

.login-window-password {
    font-size: 8pt !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 15px !important;
    cursor: auto !important;
    background-color: white !important;
    color: black !important;
    border: none !important;
    outline: none !important;
    width: 280px !important;
}

.login-window-btn {
    margin-top: 10px !important;
    margin-left: 240px !important;
    background: linear-gradient(#fe957e,#f26e51) !important;
}

.register-window-username {
    font-size: 8pt !important;
    margin-left: 10px !important;
    margin-top: 5px !important;
    height: 15px !important;
    cursor: auto !important;
    background-color: white !important;
    color: black !important;
    border: none !important;
    outline: none !important;
    width: 280px !important;
}

.register-window-password {
    font-size: 8pt !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 15px !important;
    cursor: auto !important;
    background-color: white !important;
    color: black !important;
    border: none !important;
    outline: none !important;
    width: 280px !important;
}

.register-window-form {
    height: 110px !important;
    width: 28px !important;
}

.register-window-btn {
    margin-top: 10px !important;
    margin-left: 220px !important;
    background: linear-gradient(#fe957e,#f26e51) !important;
}


/*Display for delete window*/

.delete-window-h {
    margin-left: 20px;
    margin-right: 10px
}

.delete-window-btn {
    margin-left: 230px !important;
    margin-bottom: 10px !important;
    background: linear-gradient(#fe957e,#f26e51) !important;
}


/*Display left little sidebar */
.little-sidebar {
    background-color: #f26b4e;
    border-bottom: 1px solid #7696a4;
    border-radius: 2px;
    border-right: 1px solid #d75f48;
    border-top: 1px solid #d75f48;
    height: 168px;
    left: 0;
    position: absolute;
    top: 260px;
    width: 40px;
}

    .little-sidebar button {
        background-color: #f26c4f;
        border: none;
        border-bottom: 1px solid #cd4f3a;
        border-top: 1px solid #f79a84;
        cursor: pointer;
        height: 42.2px;
        outline: none;
        width: 39px;
    }

        .little-sidebar button:hover {
            background-color: black;
            color: black;
            opacity: .2;
        }

        .little-sidebar button img:hover {
            background-color: black;
            color: black;
            opacity: .6;
        }


/*Display right sidebar*/

.right-sidebar {
    border: 1px solid #d7d7d7;
    background-color: white;
    float: left;
    height: 850px;
    left: 835px;
    position: absolute;
    right: 160px;
    top: 128px;
    width: 327px;
}

    .right-sidebar::before {
        background-color: white;
        border: 1px solid #d7d7d7;
        bottom: -9px;
        content: '';
        height: 7px;
        left: 9px;
        right: 9px;
        position: absolute;
    }

    .right-sidebar::after {
        background-color: white;
        border: 1px solid #d7d7d7;
        bottom: -17px;
        content: '';
        height: 7px;
        left: 20px;
        right: 20px;
        position: absolute;
    }

.right-sidebar-desc {
    margin: 40px 39px 36px 36px;
}

    .right-sidebar-desc h2 {
        color: #3a3e3f;
        font-family: 'Helvetica Bold';
        font-size: 16pt;
        font-weight: bold;
        margin-bottom: 0;
    }

.right-sidebar-desc-str {
    color: #c4c4c4;
    font-size: 10pt;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 17px;
}

.right-sidebar-desc-paragraph {
    color: #959595;
    font-family: 'Helvetica-Oblique';
    font-size: 11pt;
    font-style: italic;
    margin-top: 25px;
}

.right-sidebar-receive-upd {
    margin: 48px 39px 36px 36px;
}

    .right-sidebar-receive-upd h2 {
        color: #3a3e3f;
        font-family: 'Helvetica Bold';
        font-size: 16pt;
        font-weight: bold;
        margin-bottom: 13px;
    }

.right-sidebar-receive-email {
    border: 2px solid #dfdfdf;
    height: 35px;
    outline: none;
    padding-right: 1px;
    width: 246px;
}

    .right-sidebar-receive-email button {
        background-color: #ebebeb;
        border: 1px solid #d7d7d7;
        border-radius: 3px;
        cursor: pointer;
        height: 33px;
        margin-top: 1px;
        margin-right: 0;
        padding: 0;
        text-align: center;
        width: 44px;
    }

.right-sidebar-receive-email-img {
    background-image: url("../Images/letter.png");
    background-position: 14px;
    background-repeat: no-repeat;
    border: 0 solid #dfdfdf;
    color: #cacaca;
    float: left;
    height: 33px;
    margin: 0;
    outline: none;
    padding-left: 40px;
    padding-right: 5px;
    width: 155px;
}

.right-sidebar-receive-email-image:focus {
    background-image: none;
    color: black;
    padding-left: 0;
    padding-right: 45px;
}

.right-sidebar-recent-post {
    margin-left: 36px;
    margin-right: 36px;
}

    .right-sidebar-recent-post h2 {
        color: #3a3e3f;
        font-family: 'Helvetica Bold';
        font-size: 16pt;
        font-weight: bold;
    }

    .right-sidebar-recent-post ul {
        list-style-image: url(../Images/recent.png);
        padding-left: 17px;
    }

        .right-sidebar-recent-post ul li {
            font-size: 12pt;
            font-style: italic;
            margin-bottom: 27px;
        }

            .right-sidebar-recent-post ul li a {
                color: #545454;
                cursor: pointer;
                text-decoration: none;
            }

        .right-sidebar-recent-post ul p {
            color: #a9a9a9;
            font-size: 10pt;
            margin: 4px 0 0 0;
        }

.right-sidebar-cloud-tags {
    margin: 48px 39px 36px 36px;
}

    .right-sidebar-cloud-tags h2 {
        color: #3a3e3f;
        font-family: 'Helvetica Bold';
        font-size: 16pt;
        font-weight: bold;
    }

    .right-sidebar-cloud-tags ul {
        height: 44px;
        list-style: none;
        padding: 5px;
    }

        .right-sidebar-cloud-tags ul li {
            height: 40px;
        }

.right-sidebar-cloud-tags-span {
    height: 35px;
    text-align: center;
}

.right-sidebar-cloud-tags-btn {
    cursor: pointer;
    height: 40px;
}

/*Main*/
#main {
    margin-left: 160px;
    margin-right: 980px;
}


/*Homepage*/

.pagging-non-select {
    background-color: white;
    border: 1px solid #f26c4f;
    color: #f26c4f;
    cursor: pointer;
    height: 25px;
    margin-left: 2px;
    width: 25px;
}

.pagging-select {
    background-color: #f26c4f;
    border: 1px solid #f26c4f;
    color: white;
    cursor: pointer;
    height: 25px;
    margin-left: 2px;
    width: 25px;
}

.post-img-homepage {
    background-color: white;
    border: 1px solid #d8d8d8;
    height: 308px;
    margin-top: 30px;
    padding: 7px;
    position: relative;
    width: 629px;
}

    .post-img-homepage::before {
        background-color: white;
        border: 1px solid #d7d7d7;
        content: '';
        height: 3px;
        left: 5px;
        position: absolute;
        right: 5px;
        top: 589px;
    }

    .post-img-homepage::after {
        background-color: white;
        border: 1px solid #d7d7d7;
        bottom: -276px;
        content: '';
        height: 3px;
        left: 12px;
        position: absolute;
        right: 12px;
    }

.post-img-homepage-master-img {
    border: 1px solid #b6b6b6
}

.post-img-edit {
    background-color: #f26c4f;
    border: 1px solid #f26c4f;
    border-radius: 4px;
    height: 30px;
    position: absolute;
    right: 14px;
    top: 12px;
    width: 30px;
}

    .post-img-edit img {
        margin: 3px;
    }

.post-img-del {
    background-color: #f26c4f;
    border: 1px solid #f26c4f;
    border-radius: 4px;
    height: 30px;
    position: absolute;
    right: 14px;
    top: 47px;
    width: 30px;
}

    .post-img-del img {
        margin: 3px;
    }

.post-img-tw {
    background-color: #f26c4f;
    border: 1px solid #f26c4f;
    border-radius: 50px;
    bottom: 12px;
    height: 35px;
    left: 14px;
    position: absolute;
    width: 35px;
}

    .post-img-tw img {
        margin-left: 3px;
        margin-top: 6px;
    }

.post-img-fb {
    background-color: #f26c4f;
    border: 1px solid #f26c4f;
    border-radius: 50px;
    bottom: 52px;
    height: 35px;
    left: 14px;
    position: absolute;
    width: 35px;
}

    .post-img-fb img {
        margin-left: 10px;
        margin-top: 5px;
    }

.post-img-comment-count {
    background-color: #f26c4f;
    border: 1px solid #f26c4f;
    border-radius: 3px;
    bottom: 12px;
    color:white;
    height: 20px;
    padding:5px 0 5px 15px;
    right: 15px;
    position: absolute;
    width: 105px;
}

.post-body {
    background-color: white;
    border: 1px solid #d7d7d7;
    height: 215px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 20px;
    position: relative;
    width: 603px;
}

    .post-body::before,
    .post-body::after {
        border: 20px solid transparent;
        border-bottom: 20px solid #d7d7d7;
        bottom: 255px;
        content: '';
        position: absolute;
        left: 20px;
    }

    .post-body::after {
        border-bottom: 20px solid white;
        bottom: 254px;
    }


.post-body-title {
    color: #3a3e3f;
    font-size: 20pt;
    font-weight: bold;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 5px;
}

.post-body-date {
    color: #b9b9b9;
    font-size: 10pt;
    font-style: italic;
    margin-left: 38px;
    margin-top: 10px;
}

.post-body-link-more {
    margin-top: 10px;
}

    .post-body-link-more a {
        color: #f26c4f;
        cursor: pointer;
        font-size: 15pt;
        font-weight: bold;
        margin-left: 38px;
        text-decoration: none;
    }

.post-body-short-decs {
    color: #959595;
    font-size: 9pt;
    font-weight: normal;
    line-height: 2;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 15px;
}


/*Blog entry*/

.post-img-entry {
    background-color: white;
    border: 2px solid #d7d7d7;
    height: 458px;
    margin-right: 160px;
    margin-top: 30px;
    overflow: hidden;
    padding: 7px;
    position: relative;
    width: 886px;
}

.post-img-entry-title {
    font-size: 25pt;
    font-weight: bold;
}

    .post-img-entry-title span {
        background-color: rgba(0,0,0, .4);
        color: white;
        height: 103px;
        line-height: 100px;
        margin-top: 180px;
        position: absolute;
        text-align: center;
        width: 887px;
    }

.post-entry-body {
    background-color: white;
    border: 2px solid #d7d7d7;
    margin-top: 12px;
    padding: 7px;
    position: relative;
    width: 886px;
}

.post-entry-body-date {
    color: #b9b9b9;
    font-size: 10pt;
    font-style: italic;
    margin-left: 37px;
    margin-top: 10px;
}

.post-entry-body-link-more {
    margin-top: 10px;
}

    .post-entry-body-link-more a {
        color: #f26c4f;
        cursor: pointer;
        font-size: 15pt;
        font-weight: bold;
        margin-left: 36px;
        text-decoration: none;
    }

.post-entry-body-desc {
    color: #dcdcdc;
    margin: 10px 37px 20px 37px;
    white-space: normal;
    resize: none;
    white-space: normal;
}

.post-entry-body::after {
    background-color: white;
    border: 2px solid #d7d7d7;
    bottom: -12px;
    content: '';
    display: block;
    height: 3px;
    left: 12px;
    position: absolute;
    right: 12px;
}

.post-entry-body-desc::after {
    background-color: white;
    border: 2px solid #d7d7d7;
    content: '';
    display: block;
    height: 3px;
    left: 5px;
    position: absolute;
    right: 5px;
    bottom: -7px;
}

/*Comments*/

.post-entry-comments-body {
    background-color: white;
    border: 2px solid #d7d7d7;
    margin-top: 13px;
    width: 900px;
}

    .post-entry-comments-body h2 {
        color: #3a3e3f;
        font-family: 'Helvetica Bold';
        font-size: 25pt;
        font-weight: bold;
        margin-left: 32px;
        margin-top: 24px;
    }

.post-entry-comments-avatar {
    border: 1px solid #b3b3b3;
    float: left;
    margin-left: 32px;
    padding: 6px;
}

.post-entry-comments-username {
    color: #f26c4f;
    display: inline;
    margin-left: 7px;
}

    .post-entry-comments-username span {
        color: #5e6162;
        font-style: italic;
    }

.post-entry-comments-text {
    margin-bottom: 24px;
    margin-left: 85px;
    margin-right: 32px;
}

.comment-class-1 {
    margin-left: 55px;
}

.comment-class-2 {
    margin-left: 110px;
}

.comment-class-3 {
    margin-left: 165px;
}


/*Create and edit post*/

.create-edit-form {
    background-color: white;
    border: 1px solid #d7d7d7;
    margin-bottom: 21px;
    margin-top: 27px;
    padding-bottom: 17px;
    padding-left: 37px;
    padding-top: 17px;
    width: 900px;
}

    .create-edit-form h4 {
        color: #3a3e3f;
        font-family: 'Helvetica Bold';
        font-size: 25pt;
        font-weight: bold;
        margin: 0;
    }

.create-edit-form-property-block {
    margin-left: 2px;
    margin-top: 5px;
}

.create-edit-form-field-name {
    color: #959595;
    font-size: 11pt;
    font-weight: normal;
}

.create-edit-form-field-property {
    border: 2px solid #9c9c9c;
    border-radius: 3px;
    outline: none;
    width: 452px;
}

.create-edit-form-field-property-desc {
    border: 2px solid #9c9c9c;
    border-radius: 4px;
    height: 200px;
    outline: none;
    resize: none;
    width: 863px;
    white-space: normal;
}

.create-edit-form-send-btn {
    background-color: #f26c4f;
    border-radius: 4px;
    border: 1px solid #f26c4f;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    margin-top: 10px;
    width: 100px;
}

.create-edit-form-cancel-btn {
    background-color: #dfdfdf;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    color: #555;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
}


/* Footer*/

#footer {
    background-color: #343434;
    color: #999;
    height: 390px;
    margin-top: 21px;
    padding-top: 55px;
}

.footer-block {
    background-color: white;
    border-top: 2px solid #cfcfcf;
    border-radius: 2px;
    height: 47px;
    margin-bottom: 283px;
    margin-left: 675px;
    margin-right: 180px;
    position: absolute;
    width: 345px;
}

.footer-block-email {
    border: none;
    height: 47px;
    outline: none;
    width: 345px;
}

    .footer-block-email button {
        background-color: #f06549;
        border: 1px solid #e1593b;
        border-radius: 3px;
        cursor: pointer;
        height: 39px;
        margin-left: 30px;
        margin-right: 0;
        margin-top: 3px;
        padding: 0;
        text-align: center;
        width: 44px;
    }

.footer-block-email-img {
    background-image: url(../Images/letter.png);
    background-position: 10px;
    background-repeat: no-repeat;
    border: 0 solid #dfdfdf;
    color: #cacaca;
    float: left;
    height: 33px;
    outline: none;
    margin: 0;
    padding-left: 40px;
    padding-right: 0;
    padding-top: 7px;
    width: 225px;
}

    .footer-block-email-img:focus {
        color: black;
        padding-left: 40px;
        padding-right: 0;
    }

.footer-text {
    color: #bbb;
    font-size: 9.5pt;
    height: 69px;
    margin-left: 160px;
    padding-left: 1px;
    width: 464px;
}

    .footer-text p {
        color: #939393;
        margin-bottom: 30px;
    }

.footer-social-img {
    display: inline;
    margin-right: 14px;
}

    .footer-social-img a {
        outline: none;
        text-decoration: none;
    }

.footer-copyright {
    margin-top: 30px;
}
